<div id="open-modal" class="modal" [ngClass]="{ 'is-active is-clipped' : estaActivoModal }">
  <div class="modal-background" (click)="toggleModal()">
  </div>
  <div class="modal-card">
    <header class="modal-card-head">
      <p class="modal-card-title">¿Esta seguro que desea eliminar al empleado?</p>
      <button class="delete" aria-label="close" (click)="toggleModal()"></button>
    </header>
    <footer class="modal-card-foot">
      <button class="button is-danger is-inverted" (click)="delete()">Eliminar</button>
      <button class="button is-inverted" (click)="toggleModal()">Cancelar</button>
    </footer>
  </div>
</div>