<br><br>
<div class="columns is-mobile">
  <div class="column is-half is-offset-one-quarter">
    <h1 class="title is-2">¡Genera las boletas de tus empleados!</h1>
  </div>
</div>
<br><br>
<div class="columns is-mobile">
    <div class="column is-3 is-offset-4">
        <a (click)="generarBoletas()" class="button is-large is-fullwidth is-primary">Generar Boletas</a>
    </div>
    
</div>
<div class="columns is-mobile">
    <div class="column is-3 is-offset-5">
        <input [(ngModel)]="fecha" type="date">
    </div>
</div>
<br><br><br>
<div *ngIf="error" class="columns is-mobile"> 
  <div class="column is-8 is-offset-2">
      <article class="message is-warning">
          <div class="message-body ">
            Lamentablemente hoy no es dia de paga de nadie
          </div>
      </article>
  </div>
</div>

<div *ngIf="error == false" class="columns is-mobile"> 
    <div class="column is-8 is-offset-2">
        <article class="message is-success">
            <div class="message-body ">
              Las boletas de pago fueron enviadas a los empleados correctamente!
            </div>
        </article>
    </div>
  </div>


